.logo {
    display: inline-block;
    margin: 40px 0 0 0;
}

.logo__description {
    font-family: Arial;
    font-size: 14px;
    color: #404040;
    margin: 0;
}

.menu {
    display: inline-block;
    float: right;
}

.menu__link {
    display: inline-block;
    font-family: 'PT Sans Narrow';
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    color: #404040;
    padding: 40px 12px 10px;
}

.menu__link:hover {
    color: #d45e5e;
}

.menu__link.active {
    background-color: #d45e5e;
    color: #fff;
}

.quote {
    text-align: center;
}

.quote_image {
    margin: 70px 0 0 0;
}

.quote__description {
    font-family: Cambria, serif;
    font-size: 22px;
    font-style: italic;
    line-height: 36px;
    margin: 30px auto;
    width: 480px;
}

.quote__entourage-shadow {
    display: block;
}

.quote__entourage-scale-pencil {
    margin: -8px 0 0 0;
}

.portfolio {
    width: 960px;
    margin: auto;
}

.portfolio__title {
    font-family: Cambria, serif;
    font-size: 22px;
    font-style: italic;
    line-height: 36px;
    margin: 50px 0 0 0;
}

.portfolio__item {
    display: inline-block;
    margin: 30px 35px 0 0;
}

.portfolio__item:nth-of-type(4n) {
    margin: 30px 0 0 0;
}

.portfolio__item-image {
    transition-duration: 0.1s;
}

.portfolio__item-image:hover {
    outline: 2px solid #fff;
    outline-offset: -6px;
}

.portfolio__item-image:active {
    outline: 2px solid #fff;
    outline-offset: -8px;
}

.about {
    position: relative;
    margin: 120px 0 0 0;
    padding: 25px 0 0 0;
    background-color: #d45e5e;
    color: #fff;
    overflow: visible;
}

.about__common {
    width: 590px;
    font-size: 13px;
    line-height: 22px;
}

.avatar {
    position: absolute;
    width: 120px;
    height: 120px;
    border: 5px solid #fff;
    top: -50px;
    z-index: 10;
}

.social {
    margin: 0 0 35px 160px;
}

.social__name {
    font-family: Cambria, serif;
    font-size: 24px;
    font-style: italic;
}

.social__place {
    line-height: 14px;
    margin: 10px 0 0 0;
}

.social__place:before {
    display: inline-block;
    content: '';
    width: 12px;
    height: 15px;
    background-image: url(../img/location.png);
    margin: 0 10px 0 0;
    vertical-align: text-top;
}

.skills {
    
}


.footer {
    background-color: #282828;
    color: #fff;
    font-size: 12px;
    line-height: 40px;
    text-align: right;
}